<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Bandeja de Entrada</title>
</head>
<body>
    <h1>Bandeja de Entrada</h1>
    {% if messages %}
        <ul>
            {% for message in messages %}
                <li>
                    De: {{ message.sender.username }}<br>
                    Fecha: {{ message.date }}<br>
                    Contenido: {{ message.content }}<br>
                </li>
            {% endfor %}
        </ul>
    {% else %}
        <p>No hay mensajes en tu bandeja de entrada.</p>
    {% endif %}
</body>
</html>
